@import "./variables";

.ornament {
    position: absolute;
}

header#indexHeader {
    min-height: 100vh;
    min-height: 100rem;
    padding: 20px 0;
    background: $background-color url(../images/backgroud.webp) center top;
    background-size: cover;
    .text-content {
        margin-top: 15rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18rem;
    }
    .container {
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
        align-items: center;
    }
    .title {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        color: $font-color;
        min-width: 300px;
        width: 100%;
        max-width: 600px;
        margin-bottom: 3.2rem;
        &::before {
            position: absolute;
            display: block;
            content: url(../images/Ornament.svg);
            width: 190px;
            height: 190px;
            top: -50px;
            left: -280px;
        }
        p {
            font-size: 1.8rem;
        }
    }
}

#aboutHeader {
    min-height: 70rem;
    color: $font-color;
    .container {
        padding: 30px 10px;
        margin: 150px auto;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28rem;
        background-color: $background-color;   
        border-radius: 20px;
    }
    .text-content {
        width: 100%;
        max-width: 55rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 4rem;
    }
}

#projectsHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    .container {
        width: 100%;
        border-radius: 20px;
        margin: 180px 20px 0;
        background-color: $background-color;
        color: $font-color;
        min-height: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
    }
}

.image-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 55rem;
    height: 55rem;
    border-radius: 50%;
    background: no-repeat center/contain url(../images/people.webp);
}

.circles-container {
    position: relative;
    width: 75rem;
    height: 75rem;
    border-radius: 50%;
    display: none;
}

.circle-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 155%;
        height: 155%;
        background: radial-gradient(50% 50% at 50% 50%, rgba(153, 237, 229, 0.2) 0%, rgba(178, 241, 235, 0.159167) 25.52%, rgba(215, 246, 243, 0.0983333) 43.23%, rgba(234, 249, 247, 0.0683333) 82.29%, rgba(251, 251, 251, 0.04) 100%);
        box-shadow: 0px 0px 20px 2px #64CCC5;
        filter: blur(125px);        
    }
}

.circle-sm {
    $w: 650;
    $t: 648;
    position: absolute;
    height: 650px;
    width: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &::before{
        content:"";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(255,255,255,.22) 11%, rgba(0,0,0,.22) 50%, rgba(153,237,229,.22) 94%);
        clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");
    }
}

.circle-md {
    $w: 750;
    $t: 748;
    position: absolute;
    height: 750px;
    width: 750px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &::before{
        content:"";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(251,251,251,.4) 0%, rgba(6,248,225,.4) 50%, rgba(100,204,197,.4) 100%);
        clip-path: path("M 0, #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 #{$w} #{$w*0.5} L #{$w - $t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$t} #{$w*0.5} A #{($w - $t*2) *.5} #{($w - $t*2) *.5} 0 0 0 #{$w - $t} #{$w*0.5} L #{$w} #{$w*0.5} A #{$w*0.5} #{$w*0.5} 0 0 1 0 #{$w*0.5} Z");
    }
}

.partners {
    .wrapper {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
        flex-direction: column;
    } 
}

.sprite-container {
    background: url(../images/partners.webp) no-repeat;
}

.partner1 {
    width: 148px; 
    height: 54px;
    background-position: -252px -88px;
}
.partner2 {
    width: 149px; 
    height: 58px;
    background-position: -252px -10px;
}
.partner3 {
    width: 148px; 
    height: 64px;
    background-position: -10px -100px;
}
.partner4 {
    width: 222px; 
    height: 70px;
    background-position: -10px -10px;
}