#aboutUs, 
#aboutHeader {
    .swiper {
        margin-top: 80px;
        width: 100%;
        height: 800px;
        overflow: visible !important;
        position: absolute;
        top: -60px;
        left: -80px;
    }

    .swiper-wrapper {
        width: 100%;
        height: 720px;
        display: flex;
        align-items: center;
    }

    .swiper-slide {
        position: relative;
        background-color: #fbfbfb;
        height: 640px !important;
        border-radius: 20px;
        box-shadow: none;
        overflow: visible !important;
        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;
        }
    }

    .swiper-slide-prev {
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 640px;
            height: 640px;
            border-radius: 20px;
            background-color: rgba($color: #000000, $alpha: .2);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .swiper-slide-next {
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 640px;
            height: 640px;
            border-radius: 20px;
            background-color: rgba($color: #000000, $alpha: .2);
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .swiper-container {
        height: 750px;
        width: 600px;
        position: relative;
        display: none;
    }
}

#aboutHeader {
    .container {
        position: relative;
        justify-content: flex-start;
    }
    .swiper {
        margin-top: 80px;
        width: 100%;
        height: 800px;
        overflow: visible !important;
        position: absolute;
        top: -60px;
        left: -300px;
    }
    .swiper-container {
        position: absolute;
        width: 600px;
        bottom: -80px;
        right: -60px;
    }
}