$light-green: #64ccc5;
$black: #060606;
$light-black: #121212;
$grey: #dfdfdf;
$light-grey: #f4f4f4;
$white: #fff;

$highlight-color: $light-green;
$background-color: $black;
$font-color: $white;
$card-background-color: $light-grey;
$border-color: $light-grey;

