@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "./variables";
@import "./header";
@import "./navbar";
@import "./swiper";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body{
    overflow-x: hidden;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 10px;
}

.light-icon {
    color: $white;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 4.8rem;
    background-color: $white;
    color: $light-black;
    padding: 0 1.5rem;
    font-family: "DM sans", sans-serif;
    border-radius: 2.3rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.dark-btn {
    background-color: $light-black;
    color: $white;
    .small-circle {
        background-color: $white;
        color: $light-black;
    }
}


h1 {
    font-family: "Roboto serif", serif;
    font-weight: 600;
    font-size: 6.4rem;
}

h2 {
    font-family: "Roboto serif", serif;
    font-weight: 600;
    font-size: 6.4rem;
}

h4 {
    font-family: "Roboto serif", serif;
    font-size: 3rem;
    font-weight: 500;
}

h5 {
    font-family: "Roboto serif", serif;
    font-size: 2rem;
    font-weight: 500;
}

h6 {
    font-family: "Roboto serif", serif;
    font-size: 2.5rem;
    font-weight: 500;
}

p{
    font-family: "DM sans", sans-serif;
    font-weight: 400;
    letter-spacing: 0.03rem;
    font-size: 1.6rem;
}



.small-circle {
    display: inline-flex;
    background-color: $black;
    color: $font-color;
    width: 2.8rem;
    height: 2.8rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.highlighted {
    color: $highlight-color;
}

.heading-container {
    text-align: center;
    margin: 5rem auto 0;
    width: 100%;
    max-width: 69.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

#services {
    .container {
        margin: 8rem auto 11.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8rem 6.4rem;
    }
    .card {
        width: 42.5rem;
        height: 37rem;
        padding: 5.5rem;
        background-color: $card-background-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 2rem;
        transition: .5s all ease-in;
        &:hover{
            background-color: $background-color;
            color: $font-color;
            .icon {
                background-color: $font-color;
                color: $background-color;
            }
        }
        h5 {
            margin-bottom: 1.5rem;
        }
        .icon {
            transition: .4s all ease-in;
        }
    }
}

.icon {
    width: 8rem;
    height: 8rem;
    background-color: $background-color;
    color: $font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;  
}

#aboutUs {
    background-color: $background-color;   
    min-height: 90rem;
    color: $font-color;
    .container {
        padding: 30px 10px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28rem;
    }
    .text-content {
        width: 100%;
        max-width: 58rem;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-bottom: 3.2rem;
    }
    .numbers {
        display: flex;
        gap: 6rem;
        span {
            display: inline-block;
            padding-bottom: 1rem;
        }
    }
    p {
        font-size: 1.8rem;
    }
}

.big-number {
    font-size: 4.5rem;
    font-weight: 600;
    font-family: "Roboto serif", serif;
}

#process {
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5rem;
        align-items: center;
        margin-top: 8rem;
    }
    .card-head {
        margin-left: 6rem;
        display: flex;
        gap: 3rem;
        align-items: center;
        h5 {
            font-size: 3rem;
        }
    }
    .card {
        width: 34.5rem;
        height: 25.5rem;
        background: left bottom url(../images/process-background.png) no-repeat;
        background-size: contain;
        p {
            width: 28rem;
            padding: 3.5rem 4rem;
        }
        .icon {
            border: 3px solid $border-color;
        }
    }
}

#showcase {
    .card {
        width: 100%;
        max-width: 66.5rem;
        .text-content {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        .image-wrapper {
            display: block;
            z-index: 1;
            position: relative;
            border-radius: 2rem;
            width: 100%;
            max-width: 66.5rem;
            max-height: 45rem;
            transition: .2s all ease-in-out;
            cursor: pointer;
            img {
                width: 100%;
            }
            &::after {
                z-index: 10;
                color: $font-color;
                font-size: 3.5rem;
                text-align: center;
                line-height: 5rem;
                content: "\2197";
                display: block;
                width: 5rem;
                height: 5rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $black;
                border-radius: 50%;
                opacity: 0;
                transition: all .5s ease-in-out;
            }
            &:hover {
                filter: saturate(.5);
                &::after {
                    opacity: 1;
                }
            }
        }
    }
    .container {
        justify-content: center;
        margin-top: 8.5rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        gap: 7rem;
        .col {
            display: flex;
            flex-direction: column;
            gap: 8.8rem;
            width: 100%;
        }
    }
    .btn-container {
        position: relative;
        width: 100%;
        max-width: 66.5rem;
        height: 10rem;
        .btn {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

#quote {
    margin: 10rem 0;
    .container {
        background-color: $card-background-color;
        border-radius: 2rem;
        text-align: center;
    }
    .swiper-slide {
        padding: 4.5rem 10rem;
        text-align: center;
    }
    .author {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 10rem;
    }
    .quoteSwiper {
        position: relative;
        height: 75rem;
        .swiper-button-next {
            position: absolute;
            top: auto;
            bottom: 4.5rem;
            left: 50.5%;
        }
        .swiper-button-prev {
            position: absolute;
            top: auto;
            bottom: 4.5rem;
            left: auto;
            right: 50.5%;
        }
        .swiper-button {
            position: absolute;
            display: block;
            width: 4.4rem;
            height: 4.4rem;
            border-radius: 50%;
            color: $light-black;
            border: 1px $light-black solid;
            background-color: $card-background-color;
            transition: .2s all ease-in;
            &:hover {
                color: $card-background-color;
                border: 1px $card-background-color solid;
                background-color: $light-black;
            }
            &::after {
                position: absolute;
                font-size: 2rem;
                line-height: 4.4rem;
                font-weight: 600;
                right: 50%;
                transform: translateX(50%);
            }
        }
    }
}

.pfp {
    height: 15rem;
    width: 15rem;
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

q {
    display: block;
    font-weight: bold;
    font-family: "Roboto serif", serif;
    font-size: 2.5rem;
    margin: 35px 0;
}

address {
    font-family: "DM sans", sans-serif;
    font-size: 1.6rem;
    font-style: normal;
}

footer {
    .icon {
        width: 5rem;
        height: 5rem;
        background-color: $font-color;
        color: $background-color;
    }
    a {
        color: $font-color;
        text-decoration: none;
    }
    background-color: $background-color;
    color: $font-color;
    .upper-footer {
        padding: 10rem 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 16px;
        .col {
            gap: 2.4rem;
        }
        .col:nth-child(1) {
            width: clamp(20rem, 35rem, 35rem);
        }
    }
    .bottom-footer {
        row-gap: 16px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid $font-color;
        padding: 3rem 0 6rem;
        .col {
            gap: 1.6rem;
        }
    }
    img {
        width: 20rem;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        li {
            list-style: none;
            font-family: "DM sans", sans-serif;
            font-size: 1.6rem;
        }
    }
    .col {
        display: flex;
        flex-direction: column;
    }
    .icon-container {
        flex-direction: row;
    }
    form {
        position: relative;
        max-width: 43rem;
        width: 100%;
        height: 6.7rem;
        input[type="email"]{
            position: absolute;
            right: 0;
            max-width: 43rem;
            width: 100%;
            height: 6.7rem;
            padding: 2.2rem;
            outline: none;
            border: none;
            border-radius: 4rem;
            font-size: 1.8rem;
        }
        input[type="submit"] {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
            padding: 1.2rem 1.5rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            font-size: 1.8rem;
            background-color: $light-black;
            color: $font-color;
        }
    }
}

@media (min-width: 480px) {
    .text-content {
        gap: 6rem;
    }
}

@media (min-width: 600px) { 
    .quoteSwiper {
        height: 62rem !important;
    }
}


@media (min-width: 780px) {
    .logo {
        max-width: 15.5rem;
    }
    .partners .wrapper {
        flex-direction: row;
        align-items: center;
    }
    .quoteSwiper {
        height: 58rem !important;
    }
    #showcase .container {
        justify-content: center;
        .col {
            width: 100%;
            max-width: 66.5rem;
        }
    }
    .upper-footer {
        flex-direction: row;
    }
    .bottom-footer {
        flex-direction: row;
    }
}

@media (min-width: 1280px) {
    .circles-container {
        display: block;
    }
    .quoteSwiper {
        height: 48rem !important;
    }
    .heading-container {
        margin: 10rem auto 0;
    }
}


@media (min-width: 1440px) {
    .container { 
      padding: 0;
    }
    #aboutUs {
        height: 90rem;
        .container {
            padding: 0;
        }
        .swiper-container {
            display: block;
        }
    }
    #showcase .container {
        .col {
            width: 50%;
            max-width: 66.5rem;
        }
    }
}
