@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
.ornament {
  position: absolute;
}

header {
  height: 100vh;
  min-height: 1000px;
  background: #060606 url(../images/backgroud.png) center top;
}
header .text-content {
  margin-top: 150px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 180px;
}
header .container {
  margin: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  color: #fff;
  width: 600px;
  margin-bottom: 32px;
}
header .title p {
  font-size: 18px;
}

.image-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: no-repeat center/contain url(../images/people.png);
}

.circles-container {
  position: relative;
  width: 750px;
  height: 750px;
  border-radius: 50%;
}

.circle-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.circle-bg::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  width: 155%;
  height: 155%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(153, 237, 229, 0.2) 0%, rgba(178, 241, 235, 0.159167) 25.52%, rgba(215, 246, 243, 0.0983333) 43.23%, rgba(234, 249, 247, 0.0683333) 82.29%, rgba(251, 251, 251, 0.04) 100%);
  -webkit-box-shadow: 0px 0px 20px 2px #64CCC5;
          box-shadow: 0px 0px 20px 2px #64CCC5;
  -webkit-filter: blur(125px);
          filter: blur(125px);
}

.circle-sm {
  position: absolute;
  height: 650px;
  width: 650px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.circle-sm::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, rgba(255, 255, 255, 0.22)), color-stop(50%, rgba(0, 0, 0, 0.22)), color-stop(94%, rgba(153, 237, 229, 0.22)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 11%, rgba(0, 0, 0, 0.22) 50%, rgba(153, 237, 229, 0.22) 94%);
  -webkit-clip-path: path("M 0, 325 A 325 325 0 0 1 650 325 L 2 325 A -323 -323 0 0 0 648 325 A -323 -323 0 0 0 2 325 L 650 325 A 325 325 0 0 1 0 325 Z");
          clip-path: path("M 0, 325 A 325 325 0 0 1 650 325 L 2 325 A -323 -323 0 0 0 648 325 A -323 -323 0 0 0 2 325 L 650 325 A 325 325 0 0 1 0 325 Z");
}

.circle-md {
  position: absolute;
  height: 750px;
  width: 750px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.circle-md::before {
  content: "";
  position: absolute;
  inset: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(251, 251, 251, 0.4)), color-stop(50%, rgba(6, 248, 225, 0.4)), to(rgba(100, 204, 197, 0.4)));
  background: linear-gradient(180deg, rgba(251, 251, 251, 0.4) 0%, rgba(6, 248, 225, 0.4) 50%, rgba(100, 204, 197, 0.4) 100%);
  -webkit-clip-path: path("M 0, 375 A 375 375 0 0 1 750 375 L 2 375 A -373 -373 0 0 0 748 375 A -373 -373 0 0 0 2 375 L 750 375 A 375 375 0 0 1 0 375 Z");
          clip-path: path("M 0, 375 A 375 375 0 0 1 750 375 L 2 375 A -373 -373 0 0 0 748 375 A -373 -373 0 0 0 2 375 L 750 375 A 375 375 0 0 1 0 375 Z");
}

.partners .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.sprite-container {
  background: url(../images/partners.png) no-repeat;
}

.partner1 {
  width: 148px;
  height: 54px;
  background-position: -252px -88px;
}

.partner2 {
  width: 149px;
  height: 58px;
  background-position: -252px -10px;
}

.partner3 {
  width: 148px;
  height: 64px;
  background-position: -10px -100px;
}

.partner4 {
  width: 222px;
  height: 70px;
  background-position: -10px -10px;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 76px;
  padding-top: 22px;
  max-width: 1400px;
  font-family: "DM sans", sans-serif;
}
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 250px;
  width: 40%;
  max-width: 350px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: calc(100vh - 76px);
    top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

#aboutUs .swiper {
  margin-top: 80px;
  width: 100%;
  height: 800px;
  overflow: visible !important;
  position: absolute;
  top: -60px;
  left: -80px;
}
#aboutUs .swiper-wrapper {
  width: 100%;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#aboutUs .swiper-slide {
  background-color: #fbfbfb;
  width: 640px;
  height: 640px !important;
  border-radius: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
  overflow: visible !important;
}
#aboutUs .swiper-slide img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#aboutUs .swiper-slide-prev {
  position: relative;
}
#aboutUs .swiper-slide-prev::after {
  content: "";
  display: block;
  width: 640px;
  height: 640px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
#aboutUs .swiper-slide-next {
  position: relative;
}
#aboutUs .swiper-slide-next::after {
  content: "";
  display: block;
  width: 640px;
  height: 640px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
#aboutUs .swiper-container {
  height: 750px;
  width: 600px;
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.light-icon {
  color: #fff;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 48px;
  background-color: #fff;
  color: #121212;
  padding: 0 15px;
  font-family: "DM sans", sans-serif;
  border-radius: 23px;
  border: none;
  outline: none;
  cursor: pointer;
}

.dark-btn {
  background-color: #121212;
  color: #fff;
}
.dark-btn .small-circle {
  background-color: #fff;
  color: #121212;
}

h1 {
  font-family: "Roboto serif", serif;
  font-weight: 600;
  font-size: 64px;
}

h2 {
  font-family: "Roboto serif", serif;
  font-weight: 600;
  font-size: 64px;
}

h4 {
  font-family: "Roboto serif", serif;
  font-size: 30px;
  font-weight: 500;
}

h5 {
  font-family: "Roboto serif", serif;
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-family: "Roboto serif", serif;
  font-size: 25px;
  font-weight: 500;
}

p {
  font-family: "DM sans", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3px;
  font-size: 16px;
}

.small-circle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #060606;
  color: #fff;
  width: 28px;
  height: 28px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.highlighted {
  color: #64ccc5;
}

.heading-container {
  text-align: center;
  margin: 100px auto 0;
  width: 695px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

#services .container {
  margin: 80px auto 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 64px;
}
#services .card {
  width: 425px;
  height: 370px;
  padding: 55px;
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
}
#services .card:hover {
  background-color: #060606;
  color: #fff;
}
#services .card:hover .icon {
  background-color: #fff;
  color: #060606;
}
#services .card h5 {
  margin-bottom: 15px;
}
#services .card .icon {
  -webkit-transition: 0.4s all ease-in;
  transition: 0.4s all ease-in;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: #060606;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

#aboutUs {
  background-color: #060606;
  height: 900px;
  color: #fff;
}
#aboutUs .container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 280px;
}
#aboutUs .text-content {
  width: 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  margin-bottom: 32px;
}
#aboutUs .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}
#aboutUs .numbers span {
  display: inline-block;
  padding-bottom: 10px;
}
#aboutUs p {
  font-size: 18px;
}

.big-number {
  font-size: 45px;
  font-weight: 600;
  font-family: "Roboto serif", serif;
}

#process .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
#process .card-head {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#process .card-head h5 {
  font-size: 30px;
}
#process .card {
  width: 345px;
  height: 255px;
  background: left bottom url(../images/process-background.png) no-repeat;
  background-size: contain;
}
#process .card p {
  width: 280px;
  padding: 35px 40px;
}
#process .card .icon {
  border: 3px solid #f4f4f4;
}

#showcase .card {
  width: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
#showcase .card .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
#showcase .card img {
  display: block;
  z-index: 1;
  position: relative;
  border-radius: 20px;
  max-width: 665px;
  max-height: 450px;
}
#showcase .container {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
#showcase .container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 88px;
}
#showcase .btn-container {
  position: relative;
  width: 665px;
  height: 100px;
}
#showcase .btn-container .btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

#quote {
  margin: 100px 0;
}
#quote .container {
  background-color: #f4f4f4;
  border-radius: 20px;
  text-align: center;
}
#quote .swiper-slide {
  padding: 45px 100px;
  text-align: center;
}
#quote .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  margin-bottom: 100px;
}
#quote .quoteSwiper {
  height: 480px;
  position: relative;
}
#quote .quoteSwiper .swiper-button-next {
  position: absolute;
  top: auto;
  bottom: 45px;
  left: 50.5%;
}
#quote .quoteSwiper .swiper-button-prev {
  position: absolute;
  top: auto;
  bottom: 45px;
  left: auto;
  right: 50.5%;
}
#quote .quoteSwiper .swiper-button {
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #121212;
  border: 1px #121212 solid;
  background-color: #f4f4f4;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}
#quote .quoteSwiper .swiper-button:hover {
  color: #f4f4f4;
  border: 1px #f4f4f4 solid;
  background-color: #121212;
}
#quote .quoteSwiper .swiper-button::after {
  position: absolute;
  font-size: 20px;
  line-height: 44px;
  font-weight: 600;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.pfp {
  height: 150px;
  width: 150px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

q {
  display: block;
  font-weight: bold;
  font-family: "Roboto serif", serif;
  font-size: 25px;
  margin: 35px 0;
}/*# sourceMappingURL=style.css.map */