@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 0 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 76px;
  padding-top: 22px;
  max-width: 1400px;
  font-family: "DM sans", sans-serif;
}
nav .wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  min-width: 250px;
  width: 40%;
  max-width: 350px;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.light-icon {
  color: #fff;
}

.burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: calc(100vh - 76px);
    top: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  background-color: #fff;
  color: #121212;
  padding: 0 15px;
  font-family: "DM sans", sans-serif;
  border-radius: 23px;
  border: none;
  outline: none;
}

h1 {
  font-family: "Roboto serif", serif;
  font-weight: 600;
  font-size: 64px;
}

h5 {
  font-family: "Roboto serif", serif;
  font-size: 20px;
  font-weight: 500;
}

p {
  font-family: "DM sans", sans-serif;
  font-weight: 400;
}

.ornament {
  position: absolute;
}

header {
  height: 100vh;
  min-height: 1000px;
  background: #060606 url(../images/backgroud.png) center top;
}
header .text-content {
  margin-top: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 180px;
}
header .container {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .title {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fff;
  width: 600px;
  margin-bottom: 32px;
}
header .title p {
  font-size: 18px;
}

.image-circle {
  position: relative;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: no-repeat center/contain url(../images/people.png);
}

.circles-container {
  position: relative;
  width: 550px;
  height: 550px;
  border-radius: 50%;
}

.circle-bg {
  position: absolute;
  height: 100%;
  width: 100%;
}
.circle-bg::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 155%;
  height: 155%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(153, 237, 229, 0.2) 0%, rgba(178, 241, 235, 0.159167) 25.52%, rgba(215, 246, 243, 0.0983333) 43.23%, rgba(234, 249, 247, 0.0683333) 82.29%, rgba(251, 251, 251, 0.04) 100%);
  box-shadow: 0px 0px 20px 2px #64CCC5;
  filter: blur(125px);
}

.circle-sm {
  position: absolute;
  height: 650px;
  width: 650px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-sm::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.22) 11%, rgba(0, 0, 0, 0.22) 50%, rgba(153, 237, 229, 0.22) 94%);
  -webkit-clip-path: path("M 0, 325 A 325 325 0 0 1 650 325 L 2 325 A -323 -323 0 0 0 648 325 A -323 -323 0 0 0 2 325 L 650 325 A 325 325 0 0 1 0 325 Z");
          clip-path: path("M 0, 325 A 325 325 0 0 1 650 325 L 2 325 A -323 -323 0 0 0 648 325 A -323 -323 0 0 0 2 325 L 650 325 A 325 325 0 0 1 0 325 Z");
}

.circle-md {
  position: absolute;
  height: 750px;
  width: 750px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.circle-md::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(251, 251, 251, 0.4) 0%, rgba(6, 248, 225, 0.4) 50%, rgba(100, 204, 197, 0.4) 100%);
  -webkit-clip-path: path("M 0, 375 A 375 375 0 0 1 750 375 L 2 375 A -373 -373 0 0 0 748 375 A -373 -373 0 0 0 2 375 L 750 375 A 375 375 0 0 1 0 375 Z");
          clip-path: path("M 0, 375 A 375 375 0 0 1 750 375 L 2 375 A -373 -373 0 0 0 748 375 A -373 -373 0 0 0 2 375 L 750 375 A 375 375 0 0 1 0 375 Z");
}

.small-circle {
  display: inline-flex;
  background-color: #060606;
  color: #fff;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.highlighted {
  color: #64ccc5;
}

.partners .wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sprite-container {
  background: url(../images/partners.png) no-repeat;
}

.partner1 {
  width: 148px;
  height: 54px;
  background-position: -252px -88px;
}

.partner2 {
  width: 149px;
  height: 58px;
  background-position: -252px -10px;
}

.partner3 {
  width: 148px;
  height: 64px;
  background-position: -10px -100px;
}

.partner4 {
  width: 222px;
  height: 70px;
  background-position: -10px -10px;
}/*# sourceMappingURL=style.css.map */